body {
  background: black;
  color: white;
  font-family: monospace;
}

::selection {
  background-color: white;
  color: black;
}

/* link */
a {
  color: white;
}


/* hover over link */
a:hover {
  background-color:white;
  color:black;
}
