body {
  /* background-color: black; */
  background-image: linear-gradient(-45deg, #001a58 0%, #940062 50%, #007aad 100%);
  color: white;
  font-family: monospace;
}

::selection {
  background-color: #fff;
  color: black;
}

p {
  font-size: 14px;
}

/* link */
a {
  color: #cc311d;
}


/* hover over link */
a:hover {
  background-color:white;
  color:black;
}

mark {
  background-color: black;
  color: white;
}

img {
  max-width:100%;
}

.wrapper {
  /* just in case */
}

.main {
  margin-left: 250px;
  margin-right: 10px;
  padding: 20px;
  /* min-width: 35%; */
}

.sidebar {
  width: 160px;
  margin-left:20px;
  /* min-width:20%; */
  /* position: -webkit-sticky; */
  /* position: sticky; */
  position: fixed;
  top: 20px;
  padding: 30px;
  overflow-x: hidden;
  z-index: 1; /*stay on top*/
  background: black;
}

.sidebar a {

}

.sidebar a:hover {

}
